.hsd {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  text-transform: capitalize;
}
